/* Main layout */
.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  z-index: 1;
}

.content::before {
  content: '';
  height: 266px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--secondary-tint);
}

@media (max-width: 767px) {
  .content::before {
    height: 216px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .content::before {
    height: 265px;
  }
}
@media (max-width: 767px) {
  .content::before {
    height: 200px;
  }
}

#main {
  position: relative;
  margin-top: 150px;
}

@media (min-width: 1000px) {
  #main {
    padding: 0 40px 30px 310px;
  }
}
@media (max-width: 999px) and (min-width: 768px) {
  #main {
    padding: 0 40px 30px;
    margin-top: 140px;
  }
}
@media (max-width: 767px) {
  #main {
    padding: 0 12px 32px;
    margin-top: 90px;
  }
}

.content--boxed {
  max-width: 1170px;
  margin: 0 auto;
}
.content--boxed-sm {
  max-width: 915px;
  margin: 0 auto;
}

.content__header {
  margin-bottom: 25px;
  position: relative;
}
.content__header > h2 {
  font-size: 18px;
  color: var(--main-text-color);
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
}
.content__header > h2 > small {
  display: block;
  text-transform: none;
  margin-top: 8px;
  margin-bottom: 20px;
  color: var(--secondary-color);
  line-height: 140%;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .content__header {
    padding: 0 32px !important;
  }
}
@media screen and (max-width: 991px) {
  .content__header {
    padding: 0 14px;
  }
}

/* Inputs, buttons */
.input_text {
  color: var(--main-control-tint);
  background: var(--secondary-bg);
  border: 2px solid var(--default-transparent);
  border-radius: 8px;
  width: 100%;
  transition: box-shadow .2s ease-in, border .2s ease-in, background-color .2s ease-in;
}

.input_text.active:focus {
  background: var(--main-bg);
  border-color: var(--accent-color);
}

.input_text.active.error {
  border-color: var(--main-danger-color);
}

.input_text::placeholder {
  color: var(--main-control-tint);
  opacity: 1;
}

.input_text:-ms-input-placeholder {
  color: var(--main-control-tint);
}

.input_text::-ms-input-placeholder {
  color: var(--main-control-tint);
}

.input_text.active {
  background: var(--main-control-color);
}

.btn, .btn_main {
  margin-left: 4px;
  padding: 8px 16px !important;
  border: none;
  color: var(--main-control-tint);
  background: var(--main-control-color);
  border-radius: 8px;
  max-width: 100%;
  margin-right: 8px;
  transition: box-shadow .2s ease-in, border .2s ease-in, background-color .2s ease-in;
  cursor: pointer;
}

.btn:hover, .btn_main:hover {
  background: var(--main-control-pressed);
}

.input_text, .btn_main {
  padding: 6px 10px;
  margin: 4px 2px;
  font-size: 15px;
}

/* Forms */
.command_form {
  display: flex;
  align-items: center;
  margin: 6px 0;
}

.command_name, .command_channel {
  max-width: calc(100% / 4);
}

.command_name.full, .command_countdown, .badword_duration  {
  max-width: calc(100% / 2);
}

.command_prefix {
  font-size: 18px;
  margin-right: 4px;
  cursor: default;
}

.command_actions, .channel_actions, .action_block {
  display: flex;
  align-items: center;
}

.command_actions i, .channel_actions i {
  font-size: 21px;
  width: 26px;
  height: 26px;
  margin: 0 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.command_actions i:hover, .channel_actions i:hover {
  background: var(--secondary-tint);
}

i.command_edit {
  color: var(--main-success-color);
}

i.item_delete {
  color: var(--main-danger-color);
}

i.item_cancel {
  color: var(--main-info-color);
}

/* Video */
.videos_inner {
  margin-right: 0;
}

.videos_inner .empty-results {
  margin-bottom: 40px;
}

.vid-main-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  background: var(--main-bg);
}

.vid-container {
  position: relative;
  width: 100%;
  background: var(--default-transparent-04);
  line-height: 0;
}

.vid-container iframe,
.vid-container object,
.vid-container embed,
.vid-container .iframe,
.vid-container .content_loader,
.vid-container .empty-results {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 384px;
  border: none;
}

.vid-container .content_loader {
  margin: 0 !important;
  position: initial !important;
}

.vid-container .empty-results {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  position: initial !important;
}

.vid-container.sticky {
  position: fixed;
  bottom: 16px;
  left: 16px;
  width: 322px;
  height: 181px;
  z-index: 999;
}

.vid-container.sticky .iframe {
  height: inherit;
}

.vid-container.sticky iframe {
  height: inherit;
  min-height: initial;
}

.vid-list-container {
  max-width: calc(100% / 3.4);
  width: auto;
  height: 384px;
  min-width: 284px;
  overflow-y: auto;
  overflow-x: hidden;
}

.vid-list-container ul {
  margin: 0;
}

@media (max-width: 480px) {
  .vid-container iframe, .vid-container object, .vid-container embed, .vid-container .iframe {
    min-height: initial;
    height: 181px !important;
  }
}
@media (max-width: 800px) {
  .vid-main-wrapper {
    flex-direction: column;
  }
  .vid-container {
    width: 100%;
  }
  .vid-list-container {
    max-width: initial;
    min-width: initial;
  }
  .vid-container iframe, .vid-container object, .vid-container embed, .vid-container .iframe {
    position: initial;
  }
}

ol#vid-list {
  margin: 0;
  padding: 0;
  background: var(--main-bg);
}

ol#vid-list iframe {
  width: 100%;
}

.content--boxed-sm.videoblock {
  max-width: 1000px;
}

.videos_inner .content_loader {
  margin-bottom: 40px;
}

/* Other styles */
.content_loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.alert_info {
  display: flex;
  align-items: center;
  user-select: none;
}

.alert_info i {
  margin-right: 8px;
  font-size: 22px;
}

.alert_info .btn {
  margin-left: 16px;
}

.error_title {
  color: var(--main-danger-color);
  text-align: center;
  margin: 24px 16px 0;
}

.card .error_title {
  text-align: left;
  margin: 0;
}

.success_title {
  color: var(--main-success-color);
}

.authModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 52px 16px;
  max-width: 360px;
  max-height: 430px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--secondary-bg);
  border-radius: 2px;
  z-index: 999;
}

.auth_block_main {
  padding: 0 16px;
  margin: 16px 0;
  width: 100%;
  max-width: 340px;
}

.auth_text {
  margin-top: 42px;
}

.auth_form {
  margin: 36px 24px;
}

.login, .password, .signin {
  margin: 8px 0 !important;
}

.twitch_btn {
  display: flex;
  align-items: center;
  padding: 4px 16px !important;
  border: none;
  color: var(--main-control-tint);
  background: var(--main-control-color);
  border-radius: 8px;
  max-width: 100%;
  transition: box-shadow .2s ease-in, border .2s ease-in, background-color .2s ease-in;
  cursor: pointer;
}

.twitch_btn:hover {
  background: var(--main-control-pressed);
}

.tw-glitch-logo__svg {
  margin-right: 8px;
  width: 36px;
  height: 36px;
}

.tw-glitch-logo__body {
  fill: var(--accent-color);
}

.tw-glitch-logo__eyes {
  fill: var(--accent-color);
}

.tw-glitch-logo__face {
  fill: var(--default-white);
}

.other_copy a {
  color: var(--accent-color);
}

.main_copy a:hover, .other_copy a:hover, .main_copy a:focus, .other_copy a:focus {
  text-decoration: underline;
}
